*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 20px; 
    /* padding-bottom: 5px; */
    height: 200px;
}

.my-customer-header {
    margin-left: 10%;
}

a {
    color: rgb(0, 0, 0);
}

.nav-bar {
    height: 3px;
    display: flex;
    justify-content: space-between;
}

.top-nav{
    text-decoration: none;
    padding-right: 20PX;
}

.login-signup {
    margin-right: 10%;
}

.log-in {
    border: none;
    background-color: white;
    margin-right: 5px;
}

.sign-up {
    text-decoration: none;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 166, 0);
    border-radius: 7px;
    border: none;
}

nav{
    display: flex;
    justify-content: space-around;
}

h1 {
    font-weight: 800;
    padding: 10px;
    margin: 10px;
}

p {
    padding: 10px;
    margin: 10px
}

.myCustomer {
    display: flex;
    align-items: center;
    background-color:rgba(30, 39, 206, 0.966);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 10px;
}

.myCustomer-text {
    margin-left: 200px;
}

.p-style{
    line-height: 30px;
}

.image {
    margin-left: 100px;
}

.download-sec {
    display: flex;
    justify-content: space-between;
    height: 350px;
}

.download-heading {
    font-weight: bold;
    display: flex;
    text-align: center;
    color: rgb(0, 0, 255);
    margin-top: 80px;
    margin-left: 30px;
}

.download-links {
    display: flex;
    text-align: center;
}

.download-txt {
    text-align: left;
    border: 1.5px solid rgb(0, 0, 255);
    border-radius: 5px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(0, 0, 255);
}

.img-class {
    display: flex;
}

.shape {
    margin-top: 35px;
}

.ellipse {
    margin-top: 120px;
    margin-right: 50px;
}

.footer-nav {
    background-color: rgb(6, 6, 86);
    padding: 20px;
   height: 100px;
}

.nav-style {
    margin-top: 30px;
}

.myCustomer2 {
    color: rgb(255, 255, 255);
    margin-right: 200px;
}

.bottom-nav {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-right: 40px;
}